input, div.l-text, input.l-text-field, div.l-trigger, div.l-trigger-icon {
    border: 0 none;
    background: none;
}

a.l-button {
    display: none;
}

body {
    margin: 36px;
    font-size: 18px;
}

.print_content p {
    line-height: 56px;
    text-indent: 2em;
}